<div class="content">
  <div class="ui-g" style="height: 100%">
    <div class="ui-g-7 ui-xl-7 ui-md-7 ui-g-nopad img-cover">
    </div>
    <div class="ui-xl-5 ui-md-5 ui-sm-12 ui-g-nopad loginform">
      <div class="container-center">
      <div class="title">
        Bridge
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText placeholder="Username">
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-unlock-alt "></i></span>
        <input type="password" pInputText placeholder="PassWord"/>
      </div>
  </div>
</div>


