/deep/ body {
  margin: 0 !important;
  padding: 0 !important;
}

.img-cover {
  /* The image used */
  background-image: url("/assets/images/GoldenGateBridge-001.jpg");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content{
  background-color: #eee;
  height: 100%;
  display: block;
  position: absolute;
  width: 100%;
}


.container-center {
  position: relative;
  margin: 50% 19%;
}

.imglogo {
  width: 37%;

}

.title {
  font-size: 32px;
  color: #909090;
  font-weight: 400;
  letter-spacing: -.021em;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .img-cover {
    display: none
  }
}
