<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-8  img-cover ">
    </div>
    <div class="ui-g-4 ui-xs-12 ">
      <div class="loginform">
        <div class="centralvertical" style="display: table-cell; vertical-align: middle;">
          <div class="title">
            Bridge
          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
          <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-unlock-alt "></i></span>
              <input type="password" pInputText placeholder="PassWord"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>


