<div class="content" xmlns="http://www.w3.org/1999/html">
  <p-growl [(value)]="msgs"  life="3000"></p-growl>
  <div class="ui-g" style="height: 100%">
    <div class="ui-g-7 ui-xl-7 ui-md-7 ui-g-nopad img-cover">
    </div>
    <div class="ui-xl-5 ui-md-5 ui-sm-5 ui-g-nopad loginform">
      <form (ngSubmit)="onLogin()" novalidate >
        <div class="container-center">
          <div class="title">
            <img class="imglogo" src="/assets/images/logo.gif">
          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="ng-dirty ng-invalid"  pInputText placeholder="Username" name="username" [(ngModel)]="userLogin.username"   required>

          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-unlock-alt "></i></span>
            <input type="password"  pInputText placeholder="PassWord" name="password" [(ngModel)]="userLogin.password" required/>
          </div>
          <div class="ui-inputgroup">
            <button pButton type="submit" label="Entrar"></button>
          </div>
        </div>
      </form>
      <div class="pielogin">
        <label class="lblTecnologia">Con la tecnología de<img class="imgTecnologia"
                                                              src="/assets/images/logo.gif"></label>
        <br/>
        <br/>
        2019 Copyright de Brigde CRM
      </div>
    </div>
</div>
