<div class="ui-g ui-fluid container">
	<div class=" ui-lg-4  ui-md-5 ui-sm-12  ui-lg-offset-4  ui-md-offset-3">
		<div class="wall-data">
			<i class="fa fa-ban fa-5x fa-center"></i>
			<p-fieldset legend="Resultado" [toggleable]="false">
			<div class="ui-g">
				<div class="ui-lg-offset-1 ui-sm-offset-1 ui-md-offset-1 ui-lg-4 ui-md-4  ui-sm-12">
					<strong>Tipo de Error :</strong>
				</div>
				<div class=" ui-sm-offset-1  ui-sm-12 ui-lg-7   ui-md-6 ">
					<label class='label-resp'>404</label>
				</div>
				
				<div class="ui-lg-offset-1 ui-sm-offset-1 ui-md-offset-1 ui-lg-4 ui-md-4  ui-sm-12">
					<strong>Descripcion :</strong>
				</div>
				
				<div class=" ui-sm-offset-1  ui-sm-12 ui-lg-7   ui-md-6 ">
					<label class='label-resp'>Page Not Found</label>
				</div>
			</div>
			</p-fieldset>
		</div>
	</div>
</div>